/* common style */
body{
    font-family: 'Beau Rivage', cursive;
    font-family: 'Cabin', sans-serif;
    font-family: 'Courier Prime', monospace;
    font-family: 'Great Vibes', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.bg-color{
    background-color: rgb(18, 189, 228);
}
.border-radius-10{
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    max-width: 900px;
    margin-bottom: 50px;

}
/* top banner section style */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner{
    display: flex;
    padding: 60px;
}
.top-banner-content h2{
    font-size: 50px;
    font-weight: 900;
}
.top-banner-content .btn{
    background-color: rgb(235, 67, 67);
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
}
.top-banner-image img{
    width: 100%;
}
/* Main section style */

/* feature and Matches */
.features-n-matches{
    display: flex;
}
.features{
    background-color:rgb(18, 189, 228);
    padding: 25px;
    border-radius: 7px;
    height: 160px;
    margin-right: 25px;
}
.feature button{
    width: 200px;
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 7px;
}
/* Matches section */
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 25px;
}
.match{
    box-shadow: 5px 5px 15px gray;
    padding: 20px;
    border-radius: 5px;
}
.countries{
    display: flex;
    align-items: center;
}
.first-country .vs{
    vertical-align: center;
}


/* footer section style */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 35, 35);
    height: 300px;
}
.footer{
    text-align: center;
}
.footer h2{
    color: white;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(85, 80, 80);
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer-menu-item a{
    text-decoration: none;
    color: white;
}

/* Media query */
/* for mobile devices */
@media only screen and (max-width:600px){
   .top-banner{
    flex-direction: column;
   } 
   .features-n-blogs{
    flex-direction: column;

}
.features{
    background-color:rgb(220, 227, 229);
    text-align: center;

}
.blogs{
    grid-template-columns: repeat(1, 1fr);
}
main div .bttn{
    display: none;

}
footer{
    height: 450px;
}
.footer-menu{
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
}
}
/* for tablet decvices */
@media only screen and (min-width:601px) and (max-width:992px){
   .features-n-blogs{
    flex-direction: column;
    width: 100%;
    align-items: center;

}
main{
    flex-direction: column;
    align-items: center;
}
.features{
    background-color:rgb(220, 227, 229);
    width: 100%;
    text-align: center;

}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
main div .bttn{
    display: block;
    text-align: center;

}
main div .bttn{
margin-bottom: 40px;

}
}
/* for laptop/desktop */
@media only screenb and (min-width:993px) {
    main div .bttn{
        display: none;
    
    } 
}